@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Roboto+Mono&display=swap');

main {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 20px;
    font-family: 'Roboto Mono', monospace;
}