@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200;500&family=Nabla&display=swap');

h1 {
    font-family: 'Nabla', cursive;
    font-size: 3em;
    margin: 0;
    padding: 30px;
}